{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
おみくじ
{% endblock %}

{% block content %}
<div class="container">
	<div class="page-header">
        <h3>おみくじをしましょう。</h3>
    </div>
    <br>
    <div class="form">
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% endblock %}