{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
おみくじ
{% endblock %}

{% block content %}
<div class="container">
	<div class="page-header">
        <h3>おみくじの結果は...</h3>
        <br>
        <h1>{{ result }}</h1>
    </div>
{% endblock %}